# Ignore node_modules
node_modules/

# Ignore zip files
*.zip

# Ignore logs and debug output
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore dotenv and secrets
.env
.env.*

# MacOS system files
.DS_Store

# IDE/editor configs
.vscode/
.idea/
*.swp
